.footer {
  max-width: 880px;
  padding-bottom: 60px;
}

.footer__copyright {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21px;
  color: #545454;
}

@media screen and (max-width: 919px) {
  .footer {
    padding: 34px 0 22px;
    margin: 0;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 660px) {
  .footer {
    margin: 0 19px;
  }

  .footer__copyright {
    line-height: 1.2;
  }
}
